<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifié type [[${type.libelle}]]</title>
    <link rel="stylesheet" th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}" >
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="shortcut icon" type="image/png" th:href="@{/assets/images/favicon.ico}"/>
</head>
<body>

<div class="container-scroller">
    <!-- NAVBAR -->
    <div th:replace="navbar :: content"></div>
    <!-- END NAVBAR -->
    <div class="container-fluid page-body-wrapper">
        <!-- SIDEBAR -->
        <div th:replace="sidebar :: content"></div>
        <!-- END SIDEBAR -->
        <div class="main-panel">
            <!-- PAGE CONTENT -->
            <div class="content-wrapper">
                <div class="page-header">
                    <h1 class="page-title">
                        <span class="page-title-icon bg-gradient-primary text-white mr-2">
                          <i class="mdi mdi-wrench"></i>
                        </span>
                        Modifier le type : [[${type.libelle}]]
                    </h1>
                </div>

                <p id="msg" th:text="${message}"></p>

                <div class="row">
                    <!-- FORM ADD -->
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Modifié type [[${type.libelle}]]</h4>
                                <form class="forms-sample" th:object="${typeC}" method="POST" th:action="@{/type/modify/save/{id}(id = ${type.id})}">
                                    <div class="form-group row">
                                        <label for="addTypeCapteurLibelle" class="col-sm-3 col-form-label">Libellé</label>
                                        <div class="col-sm-9">
                                            <input th:field="*{libelle}" type="text" class="form-control" id="addTypeCapteurLibelle" th:placeholder="${type.libelle}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="addTypeCapteurMin" class="col-sm-3 col-form-label">Limite minimal</label>
                                        <div class="col-sm-9">
                                            <input th:field="*{limiteMin}" type="number" class="form-control" id="addTypeCapteurMin" th:value="${type.limiteMin}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="addTypeCapteurMax" class="col-sm-3 col-form-label">Limite maximal</label>
                                        <div class="col-sm-9">
                                            <input th:field="*{limiteMax}" type="number" class="form-control" id="addTypeCapteurMax" th:value="${type.limiteMax}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="addTypeSeuilMin" class="col-sm-3 col-form-label">Seuil pénibilité minimal</label>
                                        <div class="col-sm-9">
                                            <input th:field="*{seuilMin}" type="number" class="form-control" id="addTypeSeuilMin">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="addTypeSeuilMax" class="col-sm-3 col-form-label">Seuil pénibilité maximal</label>
                                        <div class="col-sm-9">
                                            <input th:field="*{seuilMax}" type="number" class="form-control" id="addTypeSeuilMax">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="addTypeCapteurUnite" class="col-sm-3 col-form-label">Unité de mesure</label>
                                        <div class="col-sm-9">
                                            <input th:field="*{unite}" type="text" class="form-control" id="addTypeCapteurUnite" th:placeholder="${type.unite}">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-gradient-primary mr-2">Envoyer</button>
                                    <button type="reset" class="btn btn-light">Annuler</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- END FORM ADD -->
                    <!-- LIST SENSORS TYPE -->
                    <div th:replace="listSensorType :: content"></div>
                    <!-- END LIST SENSORS TYPE -->
                </div>
            </div>
            <!-- END PAGE CONTENT -->
            <!-- FOOTER -->
            <div th:replace="footer :: content"></div>
            <!-- END FOOTER -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
</div>
<!--  CDN bootstrap, JQuery -->
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Menu mobile -->
<script th:src="@{/assets/js/off-canvas.js}"></script>
<!-- Menu destock plié -->
<script th:src="@{/assets/js/hoverable-collapse.js}"></script>
<!--Action supprimer élément-->
<script th:src="@{/assets/js/deleteAct.js}" ></script>
<!--Autres annimations-->
<script th:src="@{/assets/js/misc.js}" ></script>
</body>
</html>
