<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouté une pièce</title>
    <link rel="stylesheet" th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}" >
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="shortcut icon" type="image/png" th:href="@{/assets/images/favicon.ico}"/>
</head>
<body>

<div class="container-scroller">
    <!-- NAVBAR -->
    <div th:replace="navbar :: content"></div>
    <!-- END NAVBAR -->
    <div class="container-fluid page-body-wrapper">
        <!-- SIDEBAR -->
        <div th:replace="sidebar :: content"></div>
        <!-- END SIDEBAR -->
        <div class="main-panel">
            <!-- PAGE CONTENT -->
            <div class="content-wrapper">
                <div class="page-header">
                    <h1 class="page-title">
                        <span class="page-title-icon bg-gradient-primary text-white mr-2">
                          <i class="mdi mdi-plus"></i>
                        </span>
                        Ajouter une pièce
                    </h1>
                </div>
                <p th:text="${message}"></p>
                <div class="row">
                    <!-- FORM ADD -->
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Ajouter une pièce</h4>
                                <form class="forms-sample" th:object="${piece}" method="POST" th:action="@{save}">
                                    <div class="form-group row">
                                        <label for="addPieceLibelle" class="col-sm-3 col-form-label">Libellé</label>
                                        <div class="col-sm-9">
                                            <input th:field="*{libelle}" type="text" class="form-control" id="addPieceLibelle" placeholder="Nom de la pièce" required>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-gradient-primary mr-2">Envoyer</button>
                                    <button type="reset" class="btn btn-light">Annuler</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- END FORM ADD -->
                    <!-- LIST PIECE  -->
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Liste des pièces</h4>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Libelle</th>
                                        <th>Nonbre de capteur</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="piece: ${pieces}">
                                        <td th:text="${piece.libelle}"></td>
                                        <td class="text-center" th:text="${#lists.size(piece.capteurs)}"></td>
                                        <td><a class="mdi mdi-eye text-danger" alt="voir" th:href="@{/piece(id=${piece.id})}"></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END LIST PIECE  -->
                </div>
            </div>
            <!-- END PAGE CONTENT -->
            <!-- FOOTER -->
            <div th:replace="footer :: content"></div>
            <!-- END FOOTER -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
</div>
<!--  CDN bootstrap, JQuery -->
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Menu mobile -->
<script th:src="@{/assets/js/off-canvas.js}"></script>
<!-- Menu destock plié -->
<script th:src="@{/assets/js/hoverable-collapse.js}"></script>
<!--Autres annimations-->
<script th:src="@{/assets/js/misc.js}" ></script>
</body>
</html>
