<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ajouté un capteur</title>
    <link rel="stylesheet" th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}" >
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>
<body>

<div class="container-scroller">
    <!-- NAVBAR -->
    <div th:replace="navbar :: content"></div>
    <!-- END NAVBAR -->
    <div class="container-fluid page-body-wrapper">
        <!-- SIDEBAR -->
        <div th:replace="sidebar :: content"></div>
        <!-- END SIDEBAR -->
        <div class="main-panel">
            <!-- PAGE CONTENT -->
            <div class="content-wrapper">
                <div class="border-bottom row">
                    <h1 class="col-md-6"><a class="text-dark" th:href="@{/piece(id=${piece.id})}">[[${piece.libelle}]]</a></h1>
                </div>
                <p th:text="${message}"></p>
                <div class="row">
                    <!-- FORM ADD -->
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Ajouter un capteur</h4>
                                <form class="forms-sample" th:object="${newCapteur}" method="POST" th:action="@{/piece/capteur/save(salle=${piece.id})}">
                                    <div class="form-group row">
                                        <label for="addCapteurLibelle" class="col-sm-3 col-form-label">Libellé</label>
                                        <div class="col-sm-9">
                                            <input th:field="*{libelle}" type="text" class="form-control" id="addCapteurLibelle" placeholder="Nom du capteur" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="addCapteurType" class="col-sm-3 col-form-label">Type</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="type" id="addCapteurType" required>
                                                <option th:each="tc: ${typeCapteur}" th:value="${tc.id}">[[${tc.libelle}]]</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="addCapteurFrequence" class="col-sm-3 col-form-label">Fréquence (min)</label>
                                        <div class="col-sm-9">
                                            <input th:field="*{frequenceMesure}" type="number" min="1" class="form-control" id="addCapteurFrequence" required>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-gradient-primary mr-2">Envoyer</button>
                                    <button type="reset" class="btn btn-light">Annuler</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- END FORM ADD -->
                    <!-- LIST SENSORS  -->
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Liste des capteurs</h4>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Libelle</th>
                                        <th>Type</th>
                                        <th>Fréquence</th>
                                        <th>Intervale de mesure</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="c: ${capteurs}">
                                        <td th:text="${c.libelle}"></td>
                                        <td th:text="${c.type.libelle}"></td>
                                        <td>[[${c.frequenceMesure}]] min</td>
                                        <td> [[${c.type.limiteMin}]] à [[${c.type.limiteMax}]]</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END LIST SENSORS  -->
                </div>
            </div>
            <!-- END PAGE CONTENT -->
            <!-- FOOTER -->
            <div th:replace="footer :: content"></div>
            <!-- END FOOTER -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
</div>
<!-- Vendors -> bootstrap, JQuery, perfect-scrollbar -->
<script th:src="@{/assets/vendors/js/vendor.bundle.base.js}"></script>
<!-- Menu mobile -->
<script th:src="@{/assets/js/off-canvas.js}"></script>
<!-- Menu destock plié -->
<script th:src="@{/assets/js/hoverable-collapse.js}"></script>
<!--Autres annimations-->
<script th:src="@{/assets/js/misc.js}" ></script>
</body>
</html>
