<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>La pénibilité ambiante</title>
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
<!--    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">-->

    <link rel="stylesheet" href="assets/css/style.css">


</head>
<body>

<div class="container-scroller">
    <!-- NAVBAR -->
    <div th:replace="navbar :: content"></div>
    <!-- END NAVBAR -->
    <div class="container-fluid page-body-wrapper">
        <!-- SIDEBAR -->
        <div th:replace="sidebar :: content"></div>
        <!-- END SIDEBAR -->
        <div class="main-panel">
            <!-- PAGE CONTENT -->
            <div class="content-wrapper">
                <div class="page-header">
                    <h1 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-home mdi-24px"></i>
                </span> Dashboard
                    </h1>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4 stretch-card grid-margin" th:each="p,iterStat: ${pieces}">
                        <div th:class="${iterStat.even}? 'card card-img-holder text-white bg-gradient-info' : 'card card-img-holder text-white bg-gradient-success'">
                            <div class="card-body">
                                <img th:src="@{/assets/images/circle.svg}" class="card-img-absolute" alt="circle-image" />
                                <h2 class="font-weight-normal mb-3">
                                    <a th:href="@{/piece(id=${p.id})}" class="text-light">[[${p.libelle}]]</a>
                                    <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                                </h2>
                                <h4 class="mb-5">[[${#lists.size(p.capteurs)}]] capteurs</h4>
                                <p class="card-text"><span th:each="c:${p.capteurs}">[[${c.libelle}]] </span> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT -->
            <!-- FOOTER -->
            <div th:replace="footer :: content"></div>
            <!-- END FOOTER -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
</div>
<!-- Vendors -> bootstrap, JQuery, perfect-scrollbar -->
<script src="assets/vendors/js/vendor.bundle.base.js"></script>
<!-- Menu mobile -->
<script src="assets/js/off-canvas.js"></script>
<!-- Menu destock plié -->
<script src="assets/js/hoverable-collapse.js"></script>
<!--Autres annimations-->
<script src="assets/js/misc.js"></script>
</body>
</html>
