<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${piece.libelle}"></title>
    <link rel="stylesheet" th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}" >
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="shortcut icon" type="image/png" th:href="@{/assets/images/favicon.ico}"/>
</head>
<body>

<div class="container-scroller">
    <!-- NAVBAR -->
    <div th:replace="navbar :: content"></div>
    <!-- END NAVBAR -->
    <div class="container-fluid page-body-wrapper">
        <!-- SIDEBAR -->
        <div th:replace="sidebar :: content"></div>
        <!-- END SIDEBAR -->
        <div class="main-panel">
            <!-- PAGE CONTENT -->
            <div class="content-wrapper">
                <div class="page-header">
                    <h1 class="page-title">
                        <span class="page-title-icon bg-gradient-primary text-white mr-2">
                            <i class="mdi mdi-home-map-marker mdi-24px"></i>
                        </span>
                        [[${piece.libelle}]]
                    </h1>
                </div>
                <p id="msg" th:text="${message}"></p>
                <!-- BTN REGLAGE -->
                <div class="row justify-content-end pr-4">
                    <button id="btnPieceModify" class="btn btn-outline-danger" type="button">Pièce <i class="mdi mdi-wrench ml-3"></i></button>
                    <a class="btn btn-outline-primary ml-3" role="button" th:href="@{/capteur/add(id=${piece.id})}">Capteurs <i class="mdi mdi-wrench ml-3"></i></a>
                </div>
                <!-- END BTN REGLAGE -->
                <!-- FORM MODIFY PIECE -->
                <form id="modifyPiece" class="form-inline mb-5 mt-5" th:object="${upDatePiece}" method="POST" th:action="@{/piece/modify(id=${piece.id})}">
                    <label class="sr-only" for="inlineForm">Name</label>
                    <input th:field="*{libelle}" type="text" class="form-control mb-2 mr-sm-2" id="inlineForm" th:placeholder="${piece.libelle}">
                    <button type="submit" class="btn btn-gradient-primary mb-2">Enregistrer</button>
                    <button type="button" th:onclick="'deletePiece('+${piece.id}+')'" class="btn btn-danger mb-2 ml-3">Supprimer [[${piece.libelle}]]</button>
                </form>
                <!-- END MODIFY PIECE -->
                <!-- CARDS SENSOR -->
                <div class="row mt-3">
                    <div class="col-sm-6 col-md-4 stretch-card grid-margin" th:each="c,iterStat: ${capteurs}">
                        <div th:class="${iterStat.even}? 'card card-img-holder text-white bg-gradient-primary' : 'card card-img-holder text-white bg-gradient-danger'">
                            <div class="card-body">
                                <img th:src="@{/assets/images/circle.svg}" class="card-img-absolute" alt="circle-image" />
                                <a class="mdi mdi-lead-pencil position-absolute text-light" th:href="@{/capteur/modify(id=${c.id})}" style="right: 10%"></a>
                                <h4 class="font-weight-normal mb-3">
                                    [[${c.libelle}]]
                                </h4>
                                <h2 class="mb-5"> [[${c.getLastMesure}]] [[${c.type.unite}]]</h2>
                                <h6 class="card-text">[[${c.type.libelle}]] : Dernier relevé </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END CARDS SENSOR -->
                <!-- FORM DATE FOR CHART -->
                <form id="formDate" class="form-inline mb-5 mt-5">
                    Du
                    <label class="sr-only" for="debut">Début</label>
                    <input type="date" class="form-control mb-2 mr-sm-2" id="debut">
                    au
                    <label class="sr-only" for="fin">Fin</label>
                    <input type="date" class="form-control mb-2 mr-sm-2" id="fin">
                    <button id="btnAfficherGraph" type="button" class="btn btn-gradient-primary mb-2">Afficher graphique</button>
                </form>
                <!-- END FORM DATE FOR CHART -->
                <!-- CHARTS -->
                <div class="row">
                    <div class="col-xl-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body doughnutChart">
                                <h4 class="card-title">Dépassement du seuil de pénibilité</h4>
                                <canvas id="doughnutChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 grid-margin stretch-card" th:each="t:${types}">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Évolution : [[${t}]]</h4>
                                <canvas th:id="'chart'+${t}"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END CHARTS -->

            </div>
            <!-- END PAGE CONTENT -->
            <!-- FOOTER -->
            <div th:replace="footer :: content"></div>
            <!-- END FOOTER -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
</div>
<!-- CDN bootstrap, JQuery, Chart.js -->
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Menu mobile -->
<script th:src="@{/assets/js/off-canvas.js}"></script>
<!-- Menu destock plié -->
<script th:src="@{/assets/js/hoverable-collapse.js}"></script>
<!--Action supprimer élément-->
<script th:src="@{/assets/js/deleteAct.js}" ></script>
<!--Graphes-->
<script th:src="@{/assets/js/graphes.js}" ></script>
<!--Autres annimations-->
<script th:src="@{/assets/js/misc.js}" ></script>
</body>
</html>
