<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sidebar</title>
</head>
<body>
<nav th:fragment="content" class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/}">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Pièce</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-home-map-marker menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul th:each="p: ${pieces}" class="nav flex-column sub-menu">
                    <li class="nav-item"> <a th:text="${p.libelle}" class="nav-link" th:href="@{/piece(id=${p.id})}"></a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/type/add}">
                <span class="menu-title">Type de capteurs</span>
                <i class="mdi mdi-wrench  menu-icon"></i>
            </a>
        </li>
        <li class="nav-item sidebar-actions">
              <span class="nav-link">
                <div class="border-bottom">
                </div>
                  <a class="btn btn-block btn-gradient-primary mt-4" th:href="@{/piece/add}">+ Ajouter une pièce</a>

              </span>
        </li>
    </ul>
</nav>
</body>
</html>